body{
    background-color: white;
}
#nav2{
    background-color: white;

}

a{
    text-decoration: underline;
}
h1{
    font-size: 32px;
}
#ocultar{
    visibility: hidden;
}

#div1{
    background-color:white;
}